---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import SocialPill from '../components/SocialPill.astro';
import GitHub from '../icons/GitHub.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <img
        src="/profile_pic.jpg"
        alt="Jose picture"
        class="rounded-full size-12 mb-4"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        José Luis Cáceres<a
          href="https://www.linkedin.com/in/jos%C3%A9-luis-c%C3%A1ceres-losada-0a0185125/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"><Badge>LinkedIn</Badge></a
        >
      </h1>
      <h2 class="text-2xl backdrop-opacity-80 text-wrap mb-3">
        Software Engineer - Full Stack Developer - Cloud Engineer
      </h2>
      <nav class="flex gap-x-2">
        <SocialPill
          href="https://www.linkedin.com/in/jos%C3%A9-luis-c%C3%A1ceres-losada-0a0185125/"
        >
          <LinkedIn class="w-6 h-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/jlclosada">
          <GitHub class="w-6 h-6" />
          GitHub
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>

<style></style>
