<header class="justify-between items-center flex py-3 w-[1120px] mx-auto">
  <img
    src="/profile_pic.jpg"
    alt="Jose picture"
    class="rounded-full size-12"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
