<header class="fixed top-0 left-0 w-full bg-transparent shadow-none z-50 flex justify-center py-5">
  <nav class="flex flex-row gap-x-10 opacity-80 text-white">
    <a href="/" class="transition-all transform hover:scale-110 hover:brightness-125 hover:text-gray-300">Home</a>
    <a href="/about" class="transition-all transform hover:scale-110 hover:brightness-125 hover:text-gray-300">About</a>
    <a href="/projects" class="transition-all transform hover:scale-110 hover:brightness-125 hover:text-gray-300">Projects</a>
    <a href="/contact" class="transition-all transform hover:scale-110 hover:brightness-125 hover:text-gray-300">Contact</a>
  </nav>
</header>
